*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #150e18;
  --secondary-color: #210a2a;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #0f8fa2;
}

/*=============================================
=            Main styles            =
=============================================*/

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: 900;
  font-family: monospace;
  font-size: 2.5rem;
}

.user-name {
  font-weight: 900;
}

.user-login {
  color: var(--danger-color);
  font-weight: 600;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  object-fit: cover;
}

form,
.user-info {
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: 10px;
}
form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.625rem;
}

.card-and-search-wrapper {
  max-width: 30rem;
  display: grid;
  gap: 0.9375rem;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

/*=====  End of Main styles  ======*/

/*=============================================
=            Display Styles            =
=============================================*/

.user-heading {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.user-site-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #1f1a21;
  padding: 1em;
  border-radius: 10px;
}

.user-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 0.625rem;
}

i {
  color: var(--light-color);
}

.user-links > p {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.625rem;
}

.user-info {
  display: grid;
  gap: 1.5625rem;
}

button {
  background-color: var(--info-color);
  color: var(--light-color);
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  text-transform: capitalize;
}

input::placeholder {
  font-family: monospace;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  font-family: monospace;
  font-weight: 600;
}
.user-site-stats > p {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 0.75rem;
}

.user-site-stats > p > span {
  font-size: 1.25rem;
  font-weight: 900;
  font-family: monospace;
}

/*=====  End of Display Styles  ======*/
